/*--------------------body--------------------------------------------------------*/
body {
    width: 100%;
    margin: 0px;
    background-color: rgb(22, 22, 22);
    background-image: url("../images/itsa_logo_black.png");
    background-repeat: repeat;
    background-position: center;
    background-size: 10%;
}


/*-------------------Nav Bar--------------------------------------------------------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: lighter;
	font-family: 'Oswald', sans-serif;
    font-size: 180%;
    text-shadow: 0 0 5px rgba(7, 7, 7, 0.8);
    background-color: rgba(0, 72, 144, .85);
	box-shadow: 2px 2px 8px 1px rgba(255, 98, 0, .4); 
}

nav, #navDropDown {
	border-bottom: 2px solid rgba(255, 98, 0, .4);
}

.logoLink {
    margin: auto;
    height: 53px;
}

nav ul {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
}

nav li { 
    list-style: none; 
    display: inline;
    margin: 10px;
}

nav li a {
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(7, 7, 7, 0.8);
}

#iconHolder {
    display: none; /*displays below 1000px screen width*/
}

nav i {
    color: whitesmoke;
    font-size: 40px;
}


/*--------------------drop down menu for screen widths < 1000px---------------------------*/
#navDropDown {
    padding: 15px;
    margin: auto;
    margin-top: 0px;
    text-align: center;
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
    font-size: 130%;
    text-shadow: 0 0 5px rgba(7, 7, 7, 0.8);
    background-color: rgba(219, 232, 238, .5);
    box-shadow: 2px 2px 8px 1px rgba(255, 98, 0, .4); 
}

#navDropDown ul {
    margin: auto;
    padding: 0px;
    list-style: none;
}

#navDropDown li a {
    text-decoration: none;
    color: whitesmoke;
}


/*------------------------------main---------------------------------------------------*/
main {
	display: grid;
	grid-template-rows: 50% 50%;
	min-height: 90vh;
	width: 100%;
	background-color: #555;
	background-image: url("../images/itsa_phone_on_computer_blurred.JPG");
    background-repeat: no-repeat;
    background-size: cover;
	background-position: bottom;
}

.overlay {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
}

#titleDiv, .linkPanel {
	box-shadow: 2px 2px 8px rgba(136, 136, 136, .5);
}

#titleDiv {
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 30px;
	margin-left: 30px;
	text-align: left;
	font-family:'Times New Roman';
	font-size: 1.5em;
	text-shadow: 0 0 5px rgba(7, 7, 7, 0.8);
	border: 2px solid rgba(255, 98, 0, .5);
	background-color: rgba(0, 72, 144, .7);
	
}

#titleDiv h3 {
	color: #3698d4;
	margin-bottom: 3px;
	margin-top: 10px;
}

#titleDiv h3, .linkPanel a {
	font-weight: lighter;
	font-family: Oswald, sans-serif;
}

#titleDiv h1 {
	color: white;
	font-size: 275%;
	margin-top: 3px;
	margin-bottom: 10px;
}

#linksRow {
	width: 80%;
	margin: auto;
}

.linkPanel {
	display: grid;
	text-align: center;
	height: 200px;
	width: 250px;
	margin: 20px;
	border: 2px solid rgba(255, 98, 0, .5);
	background-color: rgba(0, 72, 144, .7);
}

.linkPanel a {
	color: rgb(255, 98, 0);
	font-size: 4em;
	text-shadow: 0 0 5px rgba(7, 7, 7, 0.8);
	text-decoration: none;
	margin: auto;
}

.linkPanel:hover {
	border: 2px solid rgba(255, 98, 0, .8);
	background-color: rgba(0, 72, 144, .9);
	box-shadow: 0px 0px 8px rgba(255, 98, 0, .8);
	text-shadow: 0 0 5px rgba(7, 7, 7, 0.9);
}

/*------------------footer----------------------------------------------------------------*/
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
    font-size: 100%;
    text-shadow: 0 0 5px rgba(7, 7, 7, 0.8);
    background-color: rgba(0, 72, 144, .85);
    box-shadow: 2px 2px 8px 1px rgba(255, 98, 0, .4);
}

footer a {
    text-decoration: none;
    color: rgb(255, 98, 0);
}

footer ul {
    list-style: none;
    padding: 0px;
}

footer i {
    color: whitesmoke;
    font-size: 30px;
}

#centerOfFooter {
    text-align: center;
    margin-bottom: 20px;
}

#socialMedia {
    margin-top: 10px;
}

#centerOfFooter a {
    margin: 10px;
}

footer p {
    margin-bottom: 2px;
}


/*-----------------Hover effects----------------------------------------------------------*/
#iconHolder:hover {
    cursor: pointer;
}

nav i:hover, a:hover {
    text-shadow: 0px 0px 10px rgb(255, 98, 0), 0 0 5px rgb(255, 98, 0);
}


/*---media queries for home page/hero image only-----*/

@media screen and (max-width: 1410px) {
	#titleDiv {
		font-size: 1.2em;
	}

	.linkPanel a {
		font-size: 3em;
	}
	
	.linkPanel {
		height: 150px;
		width: 200px;
	}
}

@media screen and (max-width: 1150px) {
	#titleDiv {
		font-size: 1em;
	}
}

@media screen and (max-width: 1000px) {
	nav ul {
		display: none;
    }
    
    #iconHolder {
        display: initial;
    }
}

@media screen and (max-width: 980px) {
	#titleDiv {
		text-align: center;
	}

	.linkPanel {
		height: auto;
		width: 200px;
	}
}

@media screen and (max-width: 600px) {
	#titleDiv {
		font-size: .8em;
	}

	.linkPanel a {
		font-size: 2em;
	}
}