/* itsa_style.css */
/* 2018-11-07 William R. Chase, chasew1@lcc.edu */
/*
	___ Using The CSS ___
	* Changes to the css are to be recorded in itsa_style_history.css.
	* All (or mostly all) itsa web site pages are to be use this css.
	* This file has it's own HISTORY file, named lile *_history.css.
	* Keep the HISTORY file up-to-date as you make changes.  Be sure to describe the change, and reason why.
*/
body {
	/*
	background-image: url(images/TBD.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	*/
	font-size: 26px; /* TBD */
	font-family: Tahoma, sans-serif; /* TBD */
}

/* NAVIGATION BAR*/
#itsa_nav {
	font-size: 19px;
	overflow: hidden;
	width: 100%;
	background: #004890;
}
#itsa_nav ul {
	list-style-type: none;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 50em
}
#itsa_nav ul li {
	float: left;
}
#itsa_nav ul li a {
	display: block;
	padding: .5em;
	border: 2px solid #ba89a8;
	border-radius: .5em;
	margin: .25em;
	color: #eee;
}
#itsa_nav ul a:focus {
	color: #fc6;
	border-color: #fff;
}
#itsa_nav ul a:hover {
	color: #fc6; /* The color change effect is preferable.  Choose a color. */
	border-color: #fff;
	font-weight: bold; /* Let's not do this.  It makes other buttons move. */
}
#itsa_nav_end {
	clear: both;
	overflow: hidden;
}

/* FOOTER */
#itsa_footer {
	font-size: 16px;
	color: white;
	background: #004890;
	padding: 8px 0 24px 0;
}
#itsa_footer p {
	color: white;
	padding: 1px;
	margin: 1px;
}
.float-left {
  	float: left;
}        
.float-right {
  	float: right;
}
#itsa_footer * a:link {
    color: white;
}
#itsa_footer * a:visited {
    color: white;
}
#itsa_footer * a:hover {
    color: hotpink;
}
.soc-group {
	text-align: center;
}
.soc-group a {
	text-decoration: none;
}
.soc-icon > img{
  	width: 28px;
  	height: 28px;
}
.form-inline .form-group {
	display:inline-block;
	margin-bottom:0;
	vertical-align:middle
}
