/* itsa_style.css */
/* 2018-11-07 William R. Chase, chasew1@lcc.edu */
/*
	___ Using The CSS ___
	* Changes to the css are to be recorded in itsa_style_history.css.
	* All (or mostly all) itsa web site pages are to be use this css.
	* This file has it's own HISTORY file, named lile *_history.css.
	* Keep the HISTORY file up-to-date as you make changes.  Be sure to describe the change, and reason why.
*/

@import url('https://fonts.googleapis.com/css?family=Oswald:700,400');

body {
	/*
	background-image: url(images/TBD.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	*/
	font-size: 18px; /* TBD */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; /* TBD */
}

/* NAVIGATION BAR*/
#itsa_nav_end {
	clear: both;
	overflow: hidden;
}

#itsa_nav {  
    background: #004890; 
    height: 80px;
    width: 100%; 
	font-size: 26px; /* TBD */
	font-family: Oswald, sans-serif; /* TBD */
}

#itsa_nav ul li {  
    float: left; 
    position: relative;  
}

#itsa_nav ul {  
    background: #004890; 
    /*display: none; 
    position: absolute;
    left: 0; top: 100%;*/
}

#itsa_nav a {  
    cursor: pointer; 
    display: block; 
    /*color: white;*/ 
    color: #eee;
    line-height: 30px; 
    padding: 5px 10px; 
    text-decoration: none;
}


#itsa_nav li { list-style: none; }
/*
#itsa_nav2 li:hover { 
	background: #555;
	color: #fc6; 
	font-weight: bold; 
}  
*/
#itsa_nav ul a:hover { 
	background: #555;
	color: #fc6; /* The color change effect is preferable.  Choose a color. */
	font-weight: bold; /* Let's not do this.  It makes other buttons move. */
}  
#itsa_nav ul a:active {
    background-color: #004890; 
	color: #fc6; /* The color change effect is preferable.  Choose a color. */
    /*color: white;*/
}
/* FOOTER */
#itsa_footer {

	font-size: 16px;
	color: white;
	background: #004890;
	padding: 8px 0 24px 0;
}
#itsa_footer p {
	color: white;
	padding: 1px;
	margin: 1px;
}
.float-left {
  	float: left;
}        
.float-right {
  	float: right;
}
#itsa_footer * a:link {
    color: white;
}
#itsa_footer * a:visited {
    color: white;
}
#itsa_footer * a:hover {
    color: hotpink;
}
.soc-group {
	text-align: center;
}
.soc-group a {
	text-decoration: none;
}
.soc-icon > img{
  	width: 28px;
  	height: 28px;
}
.form-inline .form-group {
	display:inline-block;
	margin-bottom:0;
	vertical-align:middle
}
